In [3]:
import pandas as pd
bmi_data = pd.read_csv("data/bmi_lbs.csv") #csv파일 로딩
from sklearn.neighbors import KNeighborsClassifier # KNN 클래스 import

### 1.모델정의

In [2]:
# KNN 알고리즘을 사용하는 모델 사용
bmi_model = KNeighborsClassifier() # 객체를 생성하는 생성자 호출! () 써서

In [5]:
bmi_data.head() # 상위 5개 데이터 확인

        Label  Gender  Height  Weight(lbs)
0     Obesity    Male     174     211.6416
1      Normal    Male     189     191.8002
2     Obesity  Female     185     242.5060
3  Overweight  Female     195     229.2784
4  Overweight    Male     149     134.4806

In [6]:
bmi_data["Label"].value_counts()  #1차원 시리즈

Extreme Obesity    198
Obesity            130
Normal              69
Overweight          68
Weak                22
Extremely Weak      13
Name: Label, dtype: int64

In [8]:
# 2. Weight(lbs)를 Weight(kg)로 변경해보자.
bmi_data["Weight(kg)"]=bmi_data["Weight(lbs)"]*0.453592
bmi_data.head()

        Label  Gender  Height  Weight(lbs)  Weight(kg)
0     Obesity    Male     174     211.6416   95.998937
1      Normal    Male     189     191.8002   86.999036
2     Obesity  Female     185     242.5060  109.998782
3  Overweight  Female     195     229.2784  103.998848
4  Overweight    Male     149     134.4806   60.999324

In [9]:
# 학습을 위해 문제와 답을 추출하자
# 문제는 x 답은 y
X = bmi_data[["Height","Weight(kg)"]]
y = bmi_data["Label"]

In [11]:
y

0              Obesity
1               Normal
2              Obesity
3           Overweight
4           Overweight
            ...
495    Extreme Obesity
496            Obesity
497    Extreme Obesity
498    Extreme Obesity
499    Extreme Obesity
Name: Label, Length: 500, dtype: object

In [12]:
bmi_model.fit(X,y) # 학습

KNeighborsClassifier()

In [13]:
# 샘플데이터 추출
x_sample=bmi_data.iloc[[5,63,301,256,470],[2,4]]
y_sample=bmi_data.iloc[[5,63,301,256,470],0]

In [14]:
bmi_predict = bmi_model.predict(x_sample) #5명의 샘플 데이터를 예측
bmi_predict

array(['Overweight', 'Normal', 'Obesity', 'Obesity', 'Extreme Obesity'],
      dtype=object)

In [15]:
# 평가 합수 활용하기
from sklearn.metrics import accuracy_score # 정확도(전체 예측 결과 중 정확히 맞춘 비율)

In [16]:
score = accuracy_score(y_sample, bmi_predict)
score

1.0

In [17]:
# 활용
bmi_model.predict([[56,156],[73,185]])

array(['Extreme Obesity', 'Extreme Obesity'], dtype=object)

In [18]:
from sklearn.model_selection import train_test_split # 훈련용,평가용 데이터 분리 함수
# 별다를 설정 없은 75 : 25로 분리해주게 되어있어!

In [20]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=1130)
x_train.head()

     Height  Weight(kg)
59      143   87.999025
204     145  159.998228
151     140   51.999424
16      157  109.998782
98      195   68.999236

In [21]:
x_train.shape, y_train.shape

((350, 2), (350,))

In [22]:
x_test.shape, y_test.shape

((150, 2), (150,))

In [ ]:
# 모델정의 > 모델학습 > 모델예측 > 모델평가

In [23]:
bmi_model1 = KNeighborsClassifier()

In [24]:
x1 = bmi_data[["Height","Weight(kg)"]]
y1 = bmi_data["Label"]

In [29]:
x1_train,x1_test,y1_train,y1_test = train_test_split(x1,y1,test_size=0.2, random_state=1130)
x1_train.head()

     Height  Weight(kg)
258     169  144.998394
74      185   99.998892
2       185  109.998782
232     184   85.999047
375     150  143.998405

In [30]:
bmi_model1.fit(x1_train,y1_train) # 학습

KNeighborsClassifier()

In [31]:
bmi_predict1 = bmi_model1.predict(x1_test) #5명의 샘플 데이터를 예측
bmi_predict1

array(['Extreme Obesity', 'Extreme Obesity', 'Overweight', 'Overweight',
       'Weak', 'Extreme Obesity', 'Extreme Obesity', 'Normal', 'Obesity',
       'Extreme Obesity', 'Extreme Obesity', 'Extreme Obesity',
       'Overweight', 'Obesity', 'Extremely Weak', 'Extreme Obesity',
       'Obesity', 'Obesity', 'Normal', 'Extreme Obesity', 'Obesity',
       'Obesity', 'Extreme Obesity', 'Obesity', 'Extreme Obesity',
       'Extremely Weak', 'Extreme Obesity', 'Weak', 'Extreme Obesity',
       'Normal', 'Extremely Weak', 'Overweight', 'Extreme Obesity',
       'Overweight', 'Extreme Obesity', 'Overweight', 'Extreme Obesity',
       'Extreme Obesity', 'Extreme Obesity', 'Extreme Obesity', 'Obesity',
       'Extreme Obesity', 'Overweight', 'Obesity', 'Normal',
       'Extreme Obesity', 'Extreme Obesity', 'Obesity', 'Extreme Obesity',
       'Extreme Obesity', 'Obesity', 'Extreme Obesity', 'Normal',
       'Obesity', 'Obesity', 'Extreme Obesity', 'Obesity', 'Obesity',
       'Overweight', 'Extreme Obesity', 'Extreme Obesity',
       'Extreme Obesity', 'Obesity', 'Overweight', 'Obesity', 'Obesity',
       'Extreme Obesity', 'Extreme Obesity', 'Extreme Obesity', 'Normal',
       'Normal', 'Overweight', 'Obesity', 'Extreme Obesity',
       'Extreme Obesity', 'Extreme Obesity', 'Obesity', 'Overweight',
       'Weak', 'Overweight', 'Extreme Obesity', 'Normal', 'Obesity',
       'Obesity', 'Obesity', 'Obesity', 'Extreme Obesity',
       'Extreme Obesity', 'Extreme Obesity', 'Overweight', 'Obesity',
       'Extreme Obesity', 'Normal', 'Overweight', 'Obesity', 'Weak',
       'Weak', 'Normal', 'Obesity', 'Extreme Obesity'], dtype=object)

In [32]:
score1 = accuracy_score(y1_test, bmi_predict1)
score1

0.87